.menu{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    color: white;
    width: 100%;
    column-gap: 30px;
    border: 4px inset rgb(255, 0, 140);
    background-color:rgb(61, 0, 77);
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0 5px 0;
    border: 20px ridge rgb(175, 14, 103);
    height: 40px;
}

.btn:hover{
    border: 20px ridge rgb(199, 38, 126);
}

.btn:active{
    border: 20px groove rgb(199, 38, 126);
}