.menu{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    color: snow;
    font-size: 20pt;
    text-transform: uppercase;
    width: 100%;
    column-gap: 30px;
    border: 4px inset #a48ce6;
    background-color:#161b33;
}

.mainBtns{
    display: inline-flex;
    column-gap: 10px;
    margin-bottom: 5px;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0 5px 0;
    border: 20px ridge #524570;
    height: 40px;
}

.btn:hover{
    border: 20px ridge rgb(199, 38, 126);
}

.btn:active{
    border: 20px groove rgb(199, 38, 126);
}

@media (max-width:768px){
    .menu{
        font-size: 14pt;
    }
    .btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 0 5px 0;
        border: 10px ridge #524570;
        height: 20px;
    }
    
    .btn:hover{
        border: 10px ridge rgb(199, 38, 126);
    }
    
    .btn:active{
        border: 10px groove rgb(199, 38, 126);
    }    
}

@media (max-width:468px){
    .menu{
        column-gap: 5px;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        font-size: 10pt;
    }
}
