.field{
    background-color:#161b33;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    visibility: hidden;
}


@keyframes render {
    0% {
        /* opacity: 0; */
        /* transform: rotateX(90deg); */
        /* transform: scale(.5); */
        display: none;
      
    }
    100% {
        /* opacity: 1; */
        visibility: visible;
        /* transform: scale(1); */
        /* transform: rotateX(0); */
    }
  }
  
.render {
    display: block;
    animation: render .1s ease-in-out;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}