.pussy{
    visibility: hidden;
    z-index: 0;
    position: absolute;
    display:flex;
    justify-content: center;
    color: azure;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(212, 0, 149);
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25),
                inset 0 2px 0 rgba(255, 255, 255, 0.644),
                0 2px 0 rgba(0,0,0,.1),
                inset 0 0 20px rgba(0,0,0,.1);
    /* transition: 0.1s; */
    user-select: none;
}

.pussy:hover{
    background-color: rgb(255, 0, 179);
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25),
                inset 0 0 2px 0 rgb(255, 255, 255),
                0 0 2px 0 rgba(0,0,0,.1),
                inset 0 0 20px rgba(0,0,0,.1);
    text-shadow:  0 0 15px white;
}

.pussy:active{
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),
                0 2px 0 rgba(255,255,255,.4),
                inset 0 2px 0 rgba(0,0,0,.1);
    text-shadow:  0 0 10px white;
}

.img{
    height: auto;
}

.cat{
    top: 50%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    visibility: hidden;
    z-index: 0;
    position: absolute;
    user-select: none;
    cursor: grab;
    /* transition: 0.1s; */
}

.cat:active{
    cursor: grabbing;
}



@keyframes render {
    0% {
        /* opacity: 0; */
        /* transform: rotateX(90deg); */
        /* transform: scale(.5); */
        display: none;
      
    }
    100% {
        /* opacity: 1; */
        visibility: visible;
        /* transform: scale(1); */
        /* transform: rotateX(0); */
    }
  }
  
.render {
    animation: render .1s ease-in-out;
    animation-delay: .3s;
    animation-fill-mode: forwards;
}

/* 
@keyframes hide {
    0% {
        transform: rotateX(0);
    }
    100% {
         display: none;
         transform: rotateX(90deg);
    }
  }
  
.hide {
    animation: hide .1s ease-in-out;
    animation-fill-mode: forwards;
}

 */


@media(max-width: 568px) {
    .pussy{
        width: 50px;
        height: 50px;
        font-size: 8pt;
    }
}