*,::after,::before{
    box-sizing: border-box;
    user-select: none;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
    height: 30px;
    font-size: 24pt;
    width: inherit;
    text-align: center;
    align-items:center;
    color: #ffdf9a;
}

.guls{
    display: inline-flex;
}

.scoreInfo, .lvlMode, .timeInfo, .timerInfo{
    display: flex;
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* text-shadow: 1px 1px 0px rgb(12, 99, 156),
                 2px 2px 0px white; */
    /* textColor */
    margin: 0 15px 0 0;
}
.lvlMode{
    color: #7d86ff;
}

.score, .mode, .time, .timer{
    margin: 0 0 0 5%;
}


.gul1, .gul2, .gul3{
    width: 14px;
    height: 14px;
    margin: 2px;
    border-radius:50%;
    border: 2px solid white;
    
    animation-name: gul;
    animation-duration: 2s;
}

.gul1{
    /* background-color: red; */
    
    animation-iteration-count: infinite;
}
.gul2{
    /* background-color: greenyellow; */
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    
}
.gul3{
    /* background-color: magenta; */
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@media (max-width:768px) {
    .gul1, .gul2, .gul3{
        width: 8px;
        height: 8px;
    }
    .info{
        margin-top: -40px;
        font-size: 16pt;
    }
}
@media (max-width:468px) {
    .info{
        font-size: 14pt;
    }
}


@keyframes gul {
    0%{
        background-color: rgb(255, 70, 70);
    }
    33%{
        background-color: rgb(255, 70, 255);
    }
    66%{
        background-color: rgb(178, 255, 70);
    }
    100%{
        background-color: rgb(255, 70, 70);
    }
}

