.newsLine{
    display: block;
    position: relative;
    background-color: #161b33;
    overflow: hidden;
    width: 100%;

    border: 2px solid #e6d98c;
    color: white;
}

.marquee {
    font-size: 22pt;
    white-space: nowrap;
    margin: 0.5rem 0 1rem 0;
    animation: marquee 15s linear infinite;
}
  
  .newsLine:hover .marquee{
    animation-play-state: paused
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }


@media (max-width:768px){
    .marquee{
        font-size: 16pt;
    }    
}

@media (max-width:468px){
    .marquee{
        font-size: 10pt;
    }
}