*,::after,::before{
    box-sizing: border-box;
    user-select: none;
}

.wrap{
    z-index: 9;
    border: 30px solid #000135;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    height: inherit;
    width: inherit;
}


.footer{
    margin-bottom: -30px;
    text-align: center;
    color: white;
    font-size: 14px;
    width: inherit;
}

.p{
    margin: auto;
    text-shadow: 0 0 5px white;
}

@media (max-width:768px) {
    .wrap{
        border-top: 40px solid #000135;
        border-right: 10px solid #000135;
        border-left: 10px solid #000135;
        border-bottom: 20px solid #000135;
    }
    .footer{
        font-size: 8pt;
        margin-bottom: -20px;
    }
}
@media (max-width:350px) {
    .wrap{
        border-bottom: 40px solid #000135;
    }
    .footer{
        font-size: 6pt;
        margin-bottom: -40px;
    }
}