*{
    box-sizing: border-box;
}

.ground{
    display: none;
    justify-content: center;
}

.background{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.712);

}

.modal {
    z-index: 100;
    pointer-events: all;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: fit-content;
    height: fit-content;
    min-width: 230px;
    min-height: 60px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.win{
    border-color: #96e096;
    border-radius: 35px;
    border-style: solid;
    background: linear-gradient(180deg, 
    #3d9945,
    #255033,
    #0d1718);
}

.lose{
    border-color: #e09696;
    border-radius: 35px;
    border-style: solid;
    background: linear-gradient(180deg, 
    #993d3d,
    #502525,
    #180d0d);
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modalText{
    margin: 1rem;
    align-self: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 42pt;
    font-family: Silver;
    width: inherit;
}

.closeModalButton{
    align-self: center;
    margin: 20px 20px;
    background-color: #c2c2c2;
    color: black;
    font-size: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.open{
    display: flex;
}