.Logs{
    z-index: 99;
    font-size: 22pt;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 4px outset #a48ce6;
    border-left: 4px outset #a48ce6;
    background-color:#161e38;
    height: 100px;
    width: 100%;
}

@media (max-height: 600px) {
    .Logs{
        font-size: 12pt !important;
        height: 40px !important;
    }
}
@media (max-width: 768px) {
    .Logs{
        font-size: 18pt;
        height: 75px;
    }
}

@media (max-width: 468px) {
    .Logs{
        font-size: 14pt !important;
        height: 50px;
    }
}