.Logs{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px outset rgb(255, 0, 140);
    background-color:#6300c0;
    height: 100px;
    width: 100%;
}

@media (max-width: 768px) {
    .Logs{
        height: 75px;
        font-size: 8pt;
    }
}

@media (max-width: 468px) {
    .Logs{
        height: 50px;
        font-size: 6pt;
    }
}