
.hiScreen{
    z-index: -11;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    /* background-color:rgb(77, 0, 100); */
    background: linear-gradient(180deg, 
        #0D0C1D,
        #161B33,
        #0D0C1D);
    transition: .2s ease;
    outline: 4px outset #e6d98c;
    outline-offset: -5px;
}

.p{
    font-size: 22pt;
    text-align: center;
    margin: 10px 15px 10px 15px;
    color: #7d86ff
}

.span{
    padding-top: 10px;
    border-top: 2px solid #e6d98c;
    border-bottom: 2px solid #e6d98c;
    color: #e6d98c;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choseMode{
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    border-top: 6px ridge #e6d98c; 
    border-bottom: 6px ridge #e6d98c; 
    margin-bottom: 1rem;
}



.menuBtn{
    text-align: center;
    font-size: 24pt;
    
    color: #e6d98c;
    transition: 0.1s;
    border-left: 6px ridge #e6d98c;
    border-right: 6px ridge #e6d98c;
    padding: 10px 30px 0px;
    margin: 0;
}
.menuBtn:hover{
    color: #e4aa53;
    border-left: 6px ridge #e4aa53;
    border-right: 6px ridge #e4aa53;
    box-shadow: inset 0 0 0px 1px #e4aa53;
}

.menuBtn:active{
    color:#e45353 !important;
    border-left: 6px ridge #e4aa53;
    border-right: 6px ridge #e4aa53;
    box-shadow: inset 0 0 5px 1px #e4aa53;
}
.chosen{
    color:rgb(255, 63, 63) !important;
    border-left: 6px ridge #e4a23f;
    border-right: 6px ridge #e4a23f;
    box-shadow: inset 0 0 5px 1px #e4a23f;
}

.extraOption{
    width: 100px;
    font-size: 18pt;
    color: white;
    text-align: center;
    border: 6px outset #e6d98c;
    background: linear-gradient(90deg, #8ca4e6, #161b33);
    font-family: "Silver", "Arial", sans-serif;
    padding-top: 10px;
    outline: none;
}

.welcome{
    font-size: 26pt;
    text-align: center;
    margin: 0 15px 0 15px;
}

.start{
    font-size: 22pt;
    text-align: center;
    margin: 20px 15px 0 15px;
    padding-top: 5px;
    border-top: 2px solid #8ce68c;
    border-bottom: 2px solid #8ce68c;
    color: #8ce68c;
}
.start:hover{
    border-top: 2px solid #59b9df;
    border-bottom: 2px solid #59b9df;
    color: #59b9df;
}
.start:active{
    border-radius: 15%;
}

  
@keyframes open-modal {
    0% {
        /* opacity: 0; */
        transform: rotateX(90deg);
      
    }
    100% {
        /* opacity: 1; */
        transform: rotateX(0);
    }
  }
  
.openModal {
    display: flex;
    animation: open-modal .3s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes close-modal {
    0% {
        /* opacity: 1; */
        transform: rotateX(0);
    }
    100% {
         /* opacity: 0; */
         
         height: 0;
         transform: rotateX(90deg);
    }
  }


  
.closeModal {
    animation: close-modal .3s ease-in-out;
    animation-fill-mode: forwards;
}

@media (max-height:600px){
    .hiScreen{
        flex-direction: row;
    }
    .extraOption{
        font-size: 8pt;
        height: 25px;
        width: 40px;
        border: 2px outset #e6d98c;
    }
    .span{
        padding-top: 5px;
        white-space: nowrap;
        letter-spacing: 1pt;
    }
    .hiScreen{
        outline: 2px outset #e6d98c;
        outline-offset: -4px;
    }
    .welcome{
        font-size: 12pt !important;
        margin: 0px 15px 0px 15px;
        letter-spacing: 1pt;
    }
    .menuBtn{
        font-size: 10pt !important;
        border-left: 2px ridge rgb(255, 196, 0);
        border-right: 2px ridge rgb(255, 196, 0);
        padding: 5px 10px 0px;
    }

    .menuBtn:hover{
        color: #e4aa53;
        border-left: 2px ridge #e4aa53;
        border-right: 2px ridge #e4aa53;
        box-shadow: inset 0 0 0px 1px #e4aa53;
    }
    
    .menuBtn:active{
        color:#e45353 !important;
        border-left: 2px ridge #e4aa53;
        border-right: 2px ridge #e4aa53;
        box-shadow: inset 0 0 5px 1px #e4aa53;
    }
    .chosen{
        color:rgb(255, 63, 63) !important;
        border-left: 2px ridge #e4a23f;
        border-right: 2px ridge #e4a23f;
        box-shadow: inset 0 0 5px 1px #e4a23f;
    }
    .settings{
        flex-direction: row;
    }
    .start{
        font-size: 10pt !important;
        letter-spacing: 1pt;
    }
    .p{
        font-size: 8pt !important;
        letter-spacing: 1pt;
    }
    
}


@media (max-width:768px){
    
    .extraOption{
        font-size: 14pt;
        width: 60px;
        border: 4px outset #e6d98c;
    }


    .welcome{
        font-size: 12pt;
    }
    .menuBtn{
        font-size: 14pt;
        border-left: 4px ridge #e6d98c;
        border-right: 4px ridge #e6d98c;
        padding: 5px 20px 0px;
    }

    .menuBtn:hover{
        color: #e4aa53;
        border-left: 4px ridge #e4aa53;
        border-right: 4px ridge #e4aa53;
        box-shadow: inset 0 0 0px 1px #e4aa53;
    }
    
    .menuBtn:active{
        color:#e45353 !important;
        border-left: 4px ridge #e4aa53;
        border-right: 4px ridge #e4aa53;
        box-shadow: inset 0 0 5px 1px #e4aa53;
    }
    .chosen{
        color:rgb(255, 63, 63) !important;
        border-left: 4px ridge #e4a23f;
        border-right: 4px ridge #e4a23f;
        box-shadow: inset 0 0 5px 1px #e4a23f;
    }
    .start{
        font-size: 18pt;
    }
    .p{
        font-size: 14pt;
    }
    .choseMode{
        margin: 5px;
    }
}
@media (max-width:468px){
    
    .extraOption{
        font-size: 10pt;
        width: 60px;
        border: 3px outset #e6d98c;
    }

    .welcome{
        font-size: 12pt;
    }
    .menuBtn{
        font-size: 16pt;
        border-left: 4px ridge #e6d98c;
        border-right: 4px ridge #e6d98c;
        padding: 5px 20px 0px;
    }

    .menuBtn:hover{
        color: #e4aa53;
        border-left: 4px ridge #e4aa53;
        border-right: 4px ridge #e4aa53;
        box-shadow: inset 0 0 0px 1px #e4aa53;
    }
    
    .menuBtn:active{
        color:#e45353 !important;
        border-left: 4px ridge #e4aa53;
        border-right: 4px ridge #e4aa53;
        box-shadow: inset 0 0 5px 1px #e4aa53;
    }
    .chosen{
        color:rgb(255, 63, 63) !important;
        border-left: 4px ridge #e4a23f;
        border-right: 4px ridge #e4a23f;
        box-shadow: inset 0 0 5px 1px #e4a23f;
    }
    .start{
         font-size: 14pt;
        
    }
    p{
        font-size: 10pt;
    }
    .choseMode{
        margin: 5px;
    }
}

@media (max-width:350px){
    .extraOption{
        font-size: 8pt;
        width: 40px;
        border: 2px outset #e6d98c;
    }
    .span{
        padding-top: 5px;
        white-space: nowrap;
        letter-spacing: 1pt;
    }
    .hiScreen{
        outline: 2px outset #e6d98c;
        outline-offset: -4px;
    }
    .welcome{
        font-size: 12pt;
        margin: 0px 15px 0px 15px;
        letter-spacing: 1pt;
    }
    .menuBtn{
        font-size: 10pt;
        border-left: 2px ridge rgb(255, 196, 0);
        border-right: 2px ridge rgb(255, 196, 0);
        padding: 5px 20px 0px;
    }

    .menuBtn:hover{
        color: #e4aa53;
        border-left: 2px ridge #e4aa53;
        border-right: 2px ridge #e4aa53;
        box-shadow: inset 0 0 0px 1px #e4aa53;
    }
    
    .menuBtn:active{
        color:#e45353 !important;
        border-left: 2px ridge #e4aa53;
        border-right: 2px ridge #e4aa53;
        box-shadow: inset 0 0 5px 1px #e4aa53;
    }
    .chosen{
        color:rgb(255, 63, 63) !important;
        border-left: 2px ridge #e4a23f;
        border-right: 2px ridge #e4a23f;
        box-shadow: inset 0 0 5px 1px #e4a23f;
    }
    .start{
        font-size: 12pt;
        letter-spacing: 1pt;
    }
    .p{
        font-size: 8pt;
        letter-spacing: 1pt;
    }
}