
.hiScreen{
    z-index: -11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    /* background-color:rgb(77, 0, 100); */
    background: linear-gradient(180deg, 
                    rgb(77, 0, 100),
                    rgb(0, 23, 100),
                    rgb(77, 0, 100));
    transition: .2s ease;
    outline: 10px outset rgb(255, 166, 0);
    outline-offset: -12px;
}

.p{
    text-align: center;
    margin: 10px 15px 10px 15px;
    color: rgb(94, 255, 0)
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choseMode{
    list-style: none;
    padding: 0;
    border-top: 6px ridge rgb(255, 196, 0); 
    border-bottom: 6px ridge rgb(255, 196, 0); 
    margin-bottom: 1rem;
}



.menuBtn{
    text-align: center;
    font-size: 18pt;
    color: rgb(255, 196, 0);
    transition: 0.1s;
    border-left: 6px ridge rgb(255, 196, 0);
    border-right: 6px ridge rgb(255, 196, 0);
    padding: 6px;
    margin: 0;
}
.menuBtn:hover{
    color: rgb(255, 255, 31);
    border-left: 6px ridge rgb(255, 255, 31);
    border-right: 6px ridge rgb(255, 255, 31);
    box-shadow: inset 0 0 0px 1px rgb(255, 255, 31);
}

.menuBtn:active{
    color:rgb(255, 23, 23) !important;
    border-left: 6px ridge rgb(255, 255, 31);
    border-right: 6px ridge rgb(255, 255, 31);
    box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
}
.chosen{
    color:rgb(255, 23, 23) !important;
    border-left: 6px ridge rgb(255, 255, 31);
    border-right: 6px ridge rgb(255, 255, 31);
    box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
}

.extraOption{
    width: 100px;
    color: white;
    text-align: center;
    border: 6px ridge rgb(252, 143, 0);
    background: linear-gradient(90deg, blue, magenta);
    font-family: "Silkscreen", "Arial", sans-serif;
    outline: none;
}

.welcome{
    font-size: 18pt;
    text-align: center;
    margin: 0 15px 0 15px;
}

.start{
    text-align: center;
    margin: 20px 15px 0 15px;
    color: rgb(255, 196, 0);
}
.start:hover{
    color: rgb(255, 255, 31);
}

  
@keyframes open-modal {
    0% {
        /* opacity: 0; */
        transform: rotateX(90deg);
        display: none;
      
    }
    100% {
        /* opacity: 1; */
        transform: rotateX(0);
    }
  }
  
.openModal {
    animation: open-modal .3s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes close-modal {
    0% {
        /* opacity: 1; */
        transform: rotateX(0);
    }
    100% {
         /* opacity: 0; */
         display: none;
         transform: rotateX(90deg);
    }
  }
  
.closeModal {
    animation: close-modal .3s ease-in-out;
    animation-fill-mode: forwards;
}


@media (max-width:468px){
    
    .extraOption{
        font-size: 6pt;
        width: 60px;
        border: 4px ridge rgb(252, 143, 0);
    }


    .hiScreen{
        outline: 6px outset rgb(255, 166, 0);
        outline-offset: -12px;
    }
    .welcome{
        font-size: 12pt;
    }
    .menuBtn{
        font-size: 16pt;
        border-left: 4px ridge rgb(255, 196, 0);
        border-right: 4px ridge rgb(255, 196, 0);
        padding: 4px;
    }

    .menuBtn:hover{
        color: rgb(255, 255, 31);
        border-left: 4px ridge rgb(255, 255, 31);
        border-right: 4px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 0px 1px rgb(255, 255, 31);
    }
    
    .menuBtn:active{
        color:rgb(255, 23, 23) !important;
        border-left: 4px ridge rgb(255, 255, 31);
        border-right: 4px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
    }
    .chosen{
        color:rgb(255, 23, 23) !important;
        border-left: 4px ridge rgb(255, 255, 31);
        border-right: 4px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
    }
    .start,p{
        font-size: 10pt;
    }
    .choseMode{
        margin: 5px;
    }
}

@media (max-width:350px){
    .extraOption{
        font-size: 4pt;
        width: 40px;
        border: 3px ridge rgb(252, 143, 0);
    }

    .hiScreen{
        outline: 4px outset rgb(255, 166, 0);
        outline-offset: -10px;
    }
    .welcome{
        font-size: 6pt;
        margin: 0 15px 0px 15px;
    }
    .menuBtn{
        font-size: 14pt;
        border-left: 2px ridge rgb(255, 196, 0);
        border-right: 2px ridge rgb(255, 196, 0);
        padding: 2px;
    }

    .menuBtn:hover{
        color: rgb(255, 255, 31);
        border-left: 2px ridge rgb(255, 255, 31);
        border-right: 2px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 0px 1px rgb(255, 255, 31);
    }
    
    .menuBtn:active{
        color:rgb(255, 23, 23) !important;
        border-left: 2px ridge rgb(255, 255, 31);
        border-right: 2px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
    }
    .chosen{
        color:rgb(255, 23, 23) !important;
        border-left: 2px ridge rgb(255, 255, 31);
        border-right: 2px ridge rgb(255, 255, 31);
        box-shadow: inset 0 0 5px 1px rgb(255, 255, 31);
    }
    .start,p{
        font-size: 5pt;
    }
}