.textColors{
    animation-name: Colors1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.textColors2{
    animation-name: Colors2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.bordercolors1{
    animation-name: borders1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.bordercolors2{
    animation-name: borders2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.bc2{
    animation-name: Colors2, borders2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes Colors1 {
    0%{
        color: #DD8484;
    }
    33%{
        color: #79CB79;
    }
    66%{
        color: #CB79A7;
    }
    100%{
        color: #DD8484;
    }
}
@keyframes Colors2 {
    0%{
        color: rgb(255, 210, 112);
    }
    33%{
        color: rgb(208, 255, 121);
    }
    66%{
        color: rgb(255, 180, 110);
    }
    100%{
        color: rgb(255, 210, 112);
    }
}

@keyframes borders1 {
    0%{
        border-top: 4px ridge #d34444;
        border-right: 4px ridge #d34444;
        border-left: 4px ridge #d34444;
        border-bottom: 4px solid #d34444;
    }
    33%{
        border-top: 4px ridge #44c544;
        border-right: 4px ridge #44c544;
        border-left: 4px ridge #44c544;
        border-bottom: 4px solid #44c544;
    }
    66%{
        border-top: 4px ridge #ca4390;
        border-right: 4px ridge #ca4390;
        border-left: 4px ridge #ca4390;
        border-bottom: 4px solid #ca4390;
    }
    100%{
        border-top: 4px ridge #d34444;
        border-right: 4px ridge #d34444;
        border-left: 4px ridge #d34444;
        border-bottom: 4px solid #d34444;
    }
}

@keyframes borders2 {
    0%{
        border: 4px outset #d34444;
    }
    33%{
        border: 4px outset #44c544;
    }
    66%{
        border: 4px outset #ca4390;
    }
    100%{
        
        border: 4px outset #d34444;
    }
}